/* Reset de márgenes y padding del body */
body {
    font-family: Arial, sans-serif; /* Fuente principal */
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Color de fondo */
}

/* Estilos para el encabezado */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #4CAF50; /* Color de fondo del encabezado */
    color: white; /* Color del texto */
    padding: 10px 0;
    text-align: center;
    font-size: 1.5em;
}

    header img {
        width: -300px; /* Tamaño del logo (ancho) */
        margin-right: -390px; /* Espacio a la derecha del logo */
        position: relative;
        top: 5px;
    }

/* Barra de navegación */
nav {
    text-align: center;
    background-color: #333;
    padding: 10px 0;
}

    nav a {
        color: white;
        margin: 0 15px;
        text-decoration: none;
        font-weight: bold;
    }

        nav a:hover {
            text-decoration: underline;
        }

/* Estilos para la sección del menú */
#menu .platos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; /* Alinea los elementos del menú en el centro */
}

#menu .plato {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    padding: 10px;
    width: calc(50% - 20px); /* Asegura que los platos se ajusten a la mitad del contenedor */
}

    #menu .plato img {
        max-width: 80%; /* Ajusta las imágenes dentro de los platos */
        height: auto;
        border-bottom: 1px solid #ddd;
    }

    #menu .plato h3 {
        margin: 10px 0 5px;
        color: #4CAF50; /* Color principal para los encabezados */
    }

    #menu .plato p {
        color: #666;
    }

    #menu .plato .precio {
        font-size: 1.2em;
        color: #333;
        margin: 10px 0;
    }

/* Estilos para las secciones */
section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para el pie de página */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
/* Estilos para la imagen del Menu 1 */
.menu-img-1 {
    position: relative;
    top: 10px; /* Desplaza la imagen 10px hacia abajo */
    left: 20px; /* Desplaza la imagen 20px hacia la derecha */
}

/* Estilos para la imagen del Menu 2 */
.menu-img-2 {
    position: relative;
    top: 10px; /* Desplaza la imagen 15px hacia arriba */
    left: 20px; /* Desplaza la imagen 10px hacia la izquierda */
}

/* Estilos para la imagen del Menu 3 */
.menu-img-3 {
    position: relative;
    top: 10px; /* Desplaza la imagen 5px hacia abajo */
    left: 20px; /* Desplaza la imagen 30px hacia la derecha */
}


